

div.life_field{
    width : 500px;
    height : 500px;
    border : 2px solid black;
}

div.life_column{
    display: table-row;
    width : 500px;
    height : 5px;
}

div.life_block{
    width : 5px;
    display: table-cell;
    height : 5px;
    border : 0 solid gray;
}