
body{
    color : deepskyblue;
    margin: 34px;
    /* border : 3px solid gray; */
    padding : 6px;
    background:linear-gradient( darkblue, black );
}

main {
    color : deepskyblue;
    margin: 34px;
    border : 3px solid gray;
    padding : 6px;
    background:#0000ff22;
}

p {
    margin : 12px;
    color : white;
}

p.incomplete {
    color : gray;
}


mark {
    background-color: darkred;
    color: #11ff11;
}

pre.consoleful{
    color : #11ff11;
    background-color : #000000cc;
    border : 2px solid white;
    margin : 8px;
    margin-left: 21px;
    padding : 3px;
}

img {
    border : 1px solid black;
}

hr{
    size : 3px;
}
hr.big{
    size : 8px;
}

a{
    border-radius: 10%;
}


strong{
    color : red;
}

/*
 * リンクのあるやつの定義
 * バニラじゃ見えん！
 */

a:link{
    color: aqua;
    background-color : blue;
}
a:visited{
    color: lightblue; 
    background-color : blueviolet;
}
a:hover{
    color: aqua;
    background-color : darkblue;
}
a:active{
    color: red;
    background-color : darkblue;
}
