
body{
    color : #111111;
    background-color : #eeeeee;
    margin: 34px;
    border : 3px solid gray;
    padding : 6px;
}

p {
    margin : 12px;
    color : black;
}

h1 {
    color : black;
}

pre{
    color : #11ff11;
    background-color : #000000cc;
    border : 1px solid white;
    margin : 12px;
}
