
body{
    color : deepskyblue;
    margin: 34px;
    border : 3px solid gray;
    padding : 6px;
    background:linear-gradient( darkblue, black );
}

p {
    margin : 12px;
    color : white;
}

p.incomplete {
    color : gray;
}



pre.consoleful{
    color : #11ff11;
    background-color : #000000cc;
    border : 2px solid white;
    margin : 8px;
    margin-left: 21px;
    padding : 3px;
}

img {
    border : 1px solid black;
}

hr{
    size : 3px;
}
